body {
    background-color: #1f1f1f;
    font-family: "open-sans";
}

a,
p,
h1,
h2 {
    font-family: "Open-Sans", sans-serif;
    color: rgb(204, 204, 204);
}

#contact {
    float: right;
    margin-right: 1em;
    margin-top: -1em;
}

#github_img {
    height: 5em;
    width: 5em;
}

#title {
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

input {
    border: 2px solid rgb(204, 204, 204);
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
}

#submit_button {
    background-color: #1f1f1f;
    border: 2px solid rgb(204, 204, 204);
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin: 8px 0px;
    cursor: pointer;
}

::placeholder {
    color: white;
}

#new_pin_div {
    margin-left: 3em;
    width: 50em;
}

.parent {
    column-count: 4;
    margin: 2em 2em 2em 2em;
    column-width: 25%;
}

.pin_card {
    display: inline-block;
    margin: 1em 1em 1em;
    width: 100%;
}

img {
    cursor: pointer;
    width: 95%;
}

.delete_post {
    background-color: #1f1f1f;
    border: 2px solid rgb(204, 204, 204);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.confirm_deletion {
    background-color: #1f1f1f;
    border: 2px solid red;
    color: red;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.loading {
    animation: clockwise 1.5s linear infinite;
    display: block;
    height: 10em;
    width: 10em;
    position: absolute;
    top: 50%;
    left: 47%;
    margin-top: -10em;
    margin-left: -10em;
}

.loading,
.loading:before,
.loading:after {
    border: 0.2em solid transparent;
    border-radius: 50%;
    border-top-color: rgba(204, 204, 204);
    margin: auto;
}

.loading:before,
.loading:after {
    content: "";
    position: absolute;
}

.loading:before {
    animation: anticlockwise 0.9s linear infinite;
    top: -0.6em;
    right: -0.6em;
    bottom: -0.6em;
    left: -0.6em;
}

.loading:after {
    animation: anticlockwise 0.66s linear infinite;
    top: 0.3em;
    right: 0.3em;
    bottom: 0.3em;
    left: 0.3em;
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anticlockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
